
func/__pycache__/server.cpython-36.pyc
func/__pycache__/database.cpython-36.pyc
func/__pycache__/verified_code.cpython-36.pyc
.idea/workspace.xml
CCOSMR.db
func/__pycache__/captcha.cpython-36.pyc
func/database.py
backup/main.py
