<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TOOL</title>
<script>
    function draw(n){
        document.getElementById("bbb");
        bbb.innerHTML="";
        for(var i=0;i<n;i++){
            bbb.innerHTML +=`<input type="text" /><br/>`
        }
        bbb.innerHTML +=`<button type="submit">submit</button>`
    }
</script>    
</head>
<body>
    <form id="form1" method="POST">
        <input onclick="draw(this.value)" type="radio" name="aaa" value="2" />simple_search(table_name, condition)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="2" />simple_delete(table_name, condition)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="4" />simple_set(table_name, condition, col_name, value)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="1" />add_new_user(data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="2" />like(table_name, data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="1" />sub(data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="1"/>comment(data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="1"/>review(data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="2" />insert(table_name, data)<br/>
        <input onclick="draw(this.value)" type="radio" name="aaa" value="1"/>post(data)<br/>
    </form>
    <div id="bbb">
        
    </div>
</body>
</html>