<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CCOSMR--Course</title>
    
    <!-- Main CSS --> 
    <link rel="stylesheet" href="css/style.css">

    <script>
            function request_searchcourse() {
                var searchname = document.getElementById("mysearch").value;
                var data = JSON.stringify({"search":searchname});
                $.post("/searchcourse",
                    data,
                    function(n){
                        alert("Data Loaded: " + n);
                    });
            }
            
            function show(){
                request_searchcourse();
            }

            function getRadioGrade(a){
                var data = JSON.stringify({"grade":a});
                $.post("/searchgrade",
                    data,
                    function(){
                    });
            }

            function getRadioClasstype(a){
                var data = JSON.stringify({"classtype":a});
                $.post("/searchclasstype",
                    data,
                    function(){
                    });
            }

            function abc(){
                $.get("/abc",
                    function(b){
                        alert(b);
                    });
            }

            /*function efg(){
                var box = document.getElementById("row1");
                box.innerHTML = "                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <a href="/info"><b>课程1名字</b></a>
                    </td>";
            }*/

    </script>  
</head>
<body>
    <div id="content-wrapper">
                
        <!-- Jumbtron / Slider -->
        <header>
        <div>
                    <h1 align="center">CCOSMR-Course</h1>
        </div>
        </header>

        <div align="left" style="background-color:white ; width:400px ; height: 800px;border:1px solid #000;float:left">
            <form align="center">
                <input type="text" name="coursename" id="mysearch"/ >
                <button onclick="show();" type="submit" id="searchbutton" class="btn btn-primary btn-lg">Search</button>
                <!--<input type="submit" value="Submit"/><br/>-->
                <h2 align="left">筛选条件：</h2><br/>
                <h3 align="left">年级：</h3>
                <input type="radio" name="grade" value="1" onclick="getRadioGrade(this.value);"/>大一<br/>
                <input type="radio" name="grade" value="2" onclick="getRadioGrade(this.value);"/>大二<br/>
                <input type="radio" name="grade" value="3" onclick="getRadioGrade(this.value);"/>大三<br/>
                <input type="radio" name="grade" value="4" onclick="getRadioGrade(this.value);"/>大四<br/>
                <h3 align="left">课程性质：</h3>
                <input type="radio" name="classtype" value="GGJC" onclick="getRadioClasstype(this.value);"/>公共基础必修课<br/>
                <input type="radio" name="classtype" value="ZYXX" onclick="getRadioClasstype(this.value);"/>专业限选课<br/>
                <input type="radio" name="classtype" value="ZYRX" onclick="getRadioClasstype(this.value);"/>专业任选课<br/>
                <input type="radio" name="classtype" value="TSJY" onclick="getRadioClasstype(this.value);"/>通识教育选修课<br/>
            </form>
            <button onclick="abc();" id="abcbutton" class="btn btn-primary btn-lg">abc</button>
            <button onclick="efg();" id="efgbutton" class="btn btn-primary btn-lg">efg</button>
        </div>

        <div align="left" style="background-color:white ; width:1400px ;  height: 800px;border:1px solid #000;float:left">
            <table border="0">
                <tr id="row1">
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <a href="/info"><b>课程1名字</b></a>
                    </td>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                    </td>
  
                </tr>
                <tr>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                        </td>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                        </td>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                    </td>    
                </tr>
                <tr>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                        </td>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                    </td>
                    <td align="center" width="450" height="250">
                        <img src="coursephoto.jpg" alt="课程1"/><br/>
                        <b>课程1名字</b>
                    </td>    
                </tr>                                    
            </table>        
        </div>
    </div>   
   
<script src="https://code.jquery.com/jquery-3.1.0.min.js"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>