<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CCOSMR--Course--Information</title>
     <link rel="stylesheet" href="css/style.css">
    <script>
            var a=85;
            var b=document.getElementById("score");
            b.value=a;
            document.getElementById("send").innerHTML=a;
    </script>
</head>
<body>
    <div id="content-wrapper">
                
        <!-- Jumbtron / Slider -->
        <header>
        <div>
                    <h1 align="center">CCOSMR-CourseInformation</h1>
        </div>
        </header>
        <hr/>  
        <table border="1"  style="background-color:white;">
            <tr>
                <td align="center" width="450px" height="400px">
                    <img src="classphoto.jpg" alt="图片" /><br>
                    <b> name <b>
                </td>
                <td align="left" width="1000px" height="400px">
                    <p>
                        简介：
                    </p> <br/>
                    <p>
                            一、	课程审核
                            目的和意义：针对管理员用户，对已经存在的课程板块进行审核，更改课程的可见范围，校验课程信息，可以对目标课程的任意信息进行更改，对于违规的课程内容可以进行删除、编辑等，也可以编辑发布新的课程板块。
                            特点：该功能只对管理员用户开放，用来维护社区环境。
                            
                    </p>       
                </td>
                <td align="center" width="450px" height="400px">
                        <h2>综合评价</h2>
                        <progress min="0" max="100" id="score" >
                        </progress>
                        <p>课程当前综合评分(百分制)：</p><p id="send"><p></p>
                    </td>       
            </tr>        
        </table>
        <hr>
    </div> 
    <div id="commment">      
    </div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>