<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CCOSMR--Course--Information</title>
     <link rel="stylesheet" href="css/style.css">
    <script>
            var t={{id}};
            var a=85;
            var b=document.getElementById("score");
            b.value=a;
            document.getElementById("send").innerHTML=a;
    </script>
</head>
<body>
    <div id="content-wrapper">
                
        <!-- Jumbtron / Slider -->
        <header>
        <div>
                    <h1 align="center">CCOSMR-CourseInformation</h1>
        </div>
        </header>
        <hr/>  
        <table border="1"  style="background-color:white;">
            <tr>
                <td align="center" width="450px" height="400px">
                    <img src="classphoto.jpg" alt="图片" /><br/>
                    <b>{{name}}<b><br/>
                    <b>{{location}}<b><br/>
                    <b>{{teachername}}<b><br/>
                </td>
                <td align="left" width="1000px" height="400px">
                    <p>
                        简介：
                    </p> <br/>
                    <p>
                        {{desc}}
                    </p>       
                </td>
                <td align="center" width="450px" height="400px">
                        <h2>综合评价</h2>
                        <progress min="0" max="10" id="score" >
                        </progress>
                        <p>课程当前综合评分(十分制)：</p>{{avg}}</p>
                    </td>       
            </tr>        
        </table>
        <hr>
    </div> 
    <div id="commment">      
    </div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>