<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CCOSMR</title>
	<link rel="stylesheet" type="text/css" href="style/register-login.css">
</head>
<body>
	<div id=box></div>  
	<div class="cent-box">
			<div class="cent-box-header">
				<h1 class="main-titlen">找回密码</h1>
				<h2 class="sub-titlen">验证码将会发送至您的手机或者邮箱</h2>
			</div>
		<div class="groupn">
				<div class="groupn-ipt email">
					<input type="email" name="email" id="email" class="ipt" placeholder="邮箱地址" required>
				</div>
				<div>
					<button type="next-step">下一步</button>
				</div>
	</div>
</body>
</html>