<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CCOSMR</title>
	<link rel="stylesheet" type="text/css" href="style/register-login.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/javascript/home.js"></script>
</head>
<body class='three-sidebar' onload="check_post();">
	<div id="sidebar">
                      
            <div class="navbar-expand-md navbar-dark"> 
            
                <header class="d-none d-md-block">
                    <h2><span class="text-left" style='color: #ffffff;'>CCOSMR</span></h2>
                </header>
                
				
                <div id="SidebarContent" class="collapse flex-column navbar-collapse">
 
                    <!-- Sidebar search form -->
                    <form class="form-inline sidebar-search-form my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" size="10"  placeholder="Search" aria-label="Search">
                        <button class="btn my-2 my-sm-0" type="submit">Search</button>
                    </form></br>
					<ul id="search_results" class="sub-navbar collapse flex-column" style="background-color: #cbecf1;">
					</ul>
                    
								
					<div style="padding-bottom: 20px; width:100%;">
						<div class="alert alert-primary" role="alert" style="padding-left:5%; padding-right:5%;">
							<ul class="nospace inline pushright font-xs">
								<li><h6 id="poster_name" class="heading">Self</h6></li>
								<ul class="nospace inline pushright font-xs"> 
									<li><a id="poster_id" href="#">@self </a></li>
								</ul>
							</ul>
						</div>
						
					</div>
                    
                    <!-- Main navigation items -->
                    <nav class="navbar navbar-dark">
                        <div id="mainNavbar">
                            <ul class="flex-column mr-auto">
                                <li class="nav-item active dropdown"  style="background-color: #cbecf1;">
									<a class="nav-link dropdown-toggle" href="#MenuDropdown" data-toggle="collapse" aria-controls="MenuDropdown" aria-expanded="false">Messages</a>
									<ul id="MenuDropdown" class="sub-navbar collapse flex-column" style="background-color: #cbecf1;">
										
									</ul>
                                </li>

                            </ul>
                        </div>   
                    </nav>
                
                
                
          
                    <!-- Social icons -->
                    <p class="sidebar-social-icons social-icons">
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                    </p>
                
                </div>
            </div> 
        </div>	
		
		<div id='content'>
            <div id="content-wrapper">
                <!-- Main content area -->
                <main class="container-fluid">
                    <div class="row">
						<div class="col-md-12" style="padding-bottom: 20px;">
							<button type="button" id="refresh_button" class="btn btn-light" style="width:100%;text-align:center;" onclick="load_recent_posts();">
								<i class="fa fa-refresh fa-spin-hover" id="refresh_icon"></i>
								<span> Load recent</span>
							</button>
						</div>
                        <!-- Main content -->
                        <div class="col-md-12" id="posts_list">
                        </div>
                       
                    </div> 
					
                </main>
				
		</div>
		
	</div>
	<div id="rightbar">
                      
           <aside class='col-md-12' style="background-color:#f8f8f8; padding-top: 10%;">
			<div >
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a class="nav-link active" id="tab0" onclick="select_tag(0);" style="font-size:0.8rem;">Following</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tab1" onclick="select_tag(1);" style="font-size:0.8rem;">Followers</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tab2" onclick="select_tag(2);" style="font-size:0.8rem;">Courses</a>
									</li>
								</ul>
								<div class='tab_selection' id='selection0' style="background-color:#ffffff;">
									<div style="height:40%; overflow:auto; padding:15px;">
									1
									</div>
								</div>
								<div class='tab_selection' id='selection1' style="display:none; background-color:#ffffff;">
									<div style="height:40%; overflow:auto; padding:15px;">
									2
									</div>
								</div>
								<div class='tab_selection' id='selection2' style="display:none; background-color:#ffffff;">
									<div style="height:40%; overflow:auto; padding:15px;">
									3
									</div>
								</div>
								<div style="padding:15px;">
								  <h4>Write a post</h4>
									<textarea class="form-control" id="exampleInputMessage" rows="3"></textarea>
									<button type="button" class="btn btn-primary" style="margin-top:20px;" >Submit post</button>
									</div>
								<p>&nbsp;</p>
								<div class="sidebar-box">
									<h4>Links</h4>
									<div class="list-group list-group-root">
										<a class="list-group-item" href="/home">Home Page</a>
										<a class="list-group-item active" href="/course">Courses</a>
										
									</div>
								</div>
							</div>
			</aside>
                    </div> 
        </div>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>