<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CCOSMR</title>
	<link rel="stylesheet" type="text/css" href="style/register-login.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="/javascript/register.js"></script>
</head>
<body onload='fetch_captcha();'>
		
            <div id="content-wrapper">
                
                <!-- Jumbtron / Slider -->
				<header>
                <div>
                            <h1 class="text-center">CCOSMR</h1>
                </div>
				</header>

                <!-- Main content area -->
                <main class="container-fluid">
                    <div class="row">
                        <!-- Main content -->
						<aside class="col-md-4">
                            <div class="sidebar-box">
							Stuff
							</div>
						</aside>
                        <div class="col-md-4">
                            <fieldset>
                                    <legend>Sign up</legend>
                                    <div class="form-group">
                                        <label for="exampleInputName">Choose your ID:</label>
										<input type="text" class="form-control" name="id" id="id" class="ipt" placeholder="User ID" required  onchange='enter_id();' />
                                    </div>
									<p id='id_message'></p>
                                    <div class="form-group">
                                        <label for="exampleInputName">Display name:</label>
										<input type="text" class="form-control" name="name" id="name" class="ipt" placeholder="Display name" required  onchange='enter_name();' />
                                    </div>
									<p id='name_message'></p>
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Set a password:</label>
										<input type="password" class="form-control" name="password" id="password" class="ipt" placeholder="Password" required onchange='enter_password();' / >
                                    </div>
									<p id='password_message'></p>
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Confirm password:</label>
										<input type="password" class="form-control" name="confirm_password" id="confirm_password" class="ipt" placeholder=" Confirm Password" required  onchange='check_password();' />
                                    </div>
									<p id='confirm_message'></p>
                                    <div class="form-group">
                                        <label for="exampleInputName">Email:</label>
										<input type="email" class="form-control" name="email" id="email" class="ipt" placeholder="Email" required  onchange='enter_email();' />
                                    </div>
									<p id='email_message'></p>
                                    <div class="form-group">
                                        <label for="exampleInputName">Captcha:</label>
										<div id="captcha_image" style='display: flex; align-items: center; justify-content: center'>
										</div>
										<a class="fa fa-info" id="refresh_captcha">Click on image to refresh</a>
										<input type="text" class="form-control" name="captcha" id="captcha" class="ipt" placeholder="Captcha" required  onchange='enter_captcha();'>
                                    </div>
										<p id='captcha_message'></p>
                                    <div class="form-group">
									<button class="btn btn-secondary btn-lg" id="submit" onclick="check_form();" role="button">Sign up</button>
									</div>
                                </fieldset>
                        </div>
                        <!-- Sidebar -->
                        <aside class="col-md-4">
                            <div class="sidebar-box">
								Also stuff here
                                
                            </div>

                            <div class="sidebar-box sidebar-box-bg">
							More stuff
                            </div>
                        </aside> 
                    </div> 
                </main>

	</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>